<h1>Actor details</h1>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Actor</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" *ngIf="actor">
    <!-- Vehicle tab -->
    <div role="tabpanel" class="tab-pane active" id="basic">
      <h2>Information</h2>
      <ul>
        <li>Fullname: {{ actor.fullName }}</li>    
      </ul>
      <h2>Biography</h2>
      <ul>
        <li>{{ actor.description}}</li>

      </ul>
      <br/>
      <p>
        <a class="btn btn-primary" [routerLink]="['/actor/edit/', actor.id]">Edit</a>
        <button class="btn btn-danger" (click)="delete()">Delete</button>
        <a class="btn btn-default" [routerLink]="['/actors']">View All Actors</a>
      </p>
    </div>
    
  </div>
</div>


