<h2>Actors for movies</h2>
  <a [routerLink]="['/actor/new']" class="btn btn-primary">New actor</a>
<table class="table">
        <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
            </thead>
    <tbody>
    <tr *ngFor="let a of actors">
      <td>{{ a.id }}</td>
      <td>{{ a.fullName }}</td>
      <td>
        <a [routerLink]="['/actor/edit/', a.id]"><span class="glyphicon glyphicon-edit"></span></a>
        <a [routerLink]="['/actor/', a.id]"><span class="	glyphicon glyphicon-eye-open"></span></a> 
      </td>
      
    </tr>
  </tbody>
</table>