<h1>Genre details</h1>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Genre</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" *ngIf="genre">
    <!-- Vehicle tab -->
    <div role="tabpanel" class="tab-pane active" id="basic">
      <h2>Information</h2>
      <ul>
        <li>Name: {{ genre.name }}</li>       
      </ul>
      <ul>
        <li>{{ genre.description}}</li>

      </ul>
      <br/>
      <p>
        <a class="btn btn-primary" [routerLink]="['/genre/edit/', genre.id]">Edit</a>
        <button class="btn btn-danger" (click)="delete()">Delete</button>
        <a class="btn btn-default" [routerLink]="['/genres']">View All Genres</a>
      </p>
    </div>
    
  </div>
</div>


