<h1>Movie details</h1>
<div>

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#basic" aria-controls="basic" role="tab" data-toggle="tab">Movie</a></li>
    <li role="presentation"><a href="#trailer" aria-controls="trailer" role="tab" data-toggle="tab">Trailer</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content" *ngIf="movie">
    <!-- Vehicle tab -->
    <div role="tabpanel" class="tab-pane active" id="basic">
      <h2>Main information</h2>
      <ul>
        <li>Name: {{ movie.name }}</li>
        <li>Release date: {{ movie.releaseDate | date: 'yyyy-MM-dd' }}</li>  
        <li>Genre: {{ movie.genre.name }}</li>    
      </ul>
      <h2>Description</h2>
        <p> {{ movie.description}}</p>
      <br/>
      <h2>Actors</h2>
      <ul>
        <li *ngFor="let a of movie.actors">{{ a.fullName }}</li>
      </ul>
      <p>
        <a class="btn btn-primary" [routerLink]="['/movie/edit/', movie.id]">Edit</a>
        <button class="btn btn-danger" (click)="delete()">Delete</button>
        <a class="btn btn-default" [routerLink]="['/movies']">View All Movies</a>
      </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="trailer">
      <h2>Trailer</h2>
      <a target="_blank" href="https://www.youtube.com/results?search_query={{ movie.name }}">Trailer for this movie in Youtube</a>
     </div>
  </div>
</div>


