<h2>Movies list</h2>
<div class="form-group well">
  <label for="code">Search</label>
  <input id="search" placeholder="search" class="form-control" type="text" [(ngModel)]="filter.name">
  <button id="searchBtn" class="btn btn-primary" (click)="onFilterChange()">Search</button>
  <button id="clearBtn" class="btn btn-primary" (click)="onFilterClear()">Clear</button>
</div>
  <a [routerLink]="['/movie/new']" class="btn btn-primary">New Movie</a>
<table class="table">
        <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Genre</th>
                  <th>Release date</th>
                  <th>Action</th>
                </tr>
            </thead>
    <tbody>
    <tr *ngFor="let m of movies | slice: (curPage * pageSize) - pageSize :curPage * pageSize">
      <td>{{ m.id }}</td>
      <td>{{ m.name }}</td>
      <td>{{ m.genre.name }}</td>
      <td>{{ m.releaseDate  | date: 'yyyy-MM-dd' }}</td>
      <td>
        <a [routerLink]="['/movie/edit/', m.id]"><span class="glyphicon glyphicon-edit"></span></a>
        <a [routerLink]="['/movie/', m.id]"><span class="	glyphicon glyphicon-eye-open"></span></a> 
      </td>
      
    </tr>
  </tbody>
</table>
<p class="pagination">
  <button class="btn btn-link" [disabled] ="curPage == 1" (click)="curPage = curPage - 1"><span class="glyphicon glyphicon-menu-left"></span>Previous</button>
    <span>Page {{curPage}} of {{ numberOfPages() }}</span>
  <button class="btn btn-link" [disabled] = "curPage >= pages" 
           (click) ="curPage = curPage + 1">Next<span class="glyphicon glyphicon-menu-right"></span></button>
</p>