<h2>Genres for movies</h2>
  <a [routerLink]="['/genre/new']" class="btn btn-primary">New genre</a>
<table class="table">
        <thead>
                <tr>
                  <th>Id</th>
                  <th>Name</th>
                  <th>Action</th>
                </tr>
            </thead>
    <tbody>
    <tr *ngFor="let g of genres">
      <td>{{ g.id }}</td>
      <td>{{ g.name }}</td>
      <td> 
        <a [routerLink]="['/genre/edit/', g.id]"><span class="glyphicon glyphicon-edit"></span></a>
        <a [routerLink]="['/genre/', g.id]"><span class="	glyphicon glyphicon-eye-open"></span></a> 
      </td>
      
    </tr>
  </tbody>
</table>