<h1>New Genre</h1>


<form #f="ngForm" (ngSubmit)="submit()" validate>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="genre.name" name="name" required #name="ngModel">
        <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please specify the name for genre.</div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea rows="20" id="description" type="text" class="form-control" [(ngModel)]="genre.description" name="description" required #description="ngModel"></textarea>
      <div class="alert alert-danger" *ngIf="description.touched && !description.valid">Please specify the description for genre.</div>
  </div>

    <button class="btn btn-primary">Save</button>
    <button *ngIf="genre.id"  class="btn btn-danger" (click)="delete()">Delete</button>
</form>