 <h1>New Movie</h1>

<form #f="ngForm" (ngSubmit)="submit()" validate>
    <div class="form-group">
        <label for="name">Name</label>
        <input id="name" type="text" class="form-control" [(ngModel)]="movie.name" name="name" required #name="ngModel">
        <div class="alert alert-danger" *ngIf="name.touched && !name.valid">Please specify the name for movie.</div>
    </div>

    <div class="form-group">
        <label for="releaseDate">Release Date</label>
        <input id="releaseDate" type="date" class="form-control" [(ngModel)]="movie.releaseDate" name="releaseDate" required #releaseDate="ngModel" useValueAsDate>
        <div class="alert alert-danger" *ngIf="releaseDate.touched && !releaseDate.valid">Please specify the release date for movie.</div>
    </div>
    <div class="form-group">
        <label for="genre">Genre</label>
        <select id="genre" class="form-control"  [(ngModel)]="movie.genreId" name="genreId" required #genre="ngModel">
          <option value=""></option>
          <option *ngFor="let g of genres" value="{{ g.id }}">{{ g.name }}</option>
        </select>
        <div class="alert alert-danger" *ngIf="genre.touched && !genre.valid">Please specify the genre.</div>
      </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea  rows="20" id="description" type="text" class="form-control" [(ngModel)]="movie.description" name="description" required #description="ngModel"></textarea>
      <div class="alert alert-danger" *ngIf="description.touched && !description.valid">Please specify the description for movie.</div>
  </div>

  <h2>Actors</h2>
    <angular2-multiselect [data]="actorsSelect" [(ngModel)]="actorsSelected"
    [settings]="dropdownSettings" 
    (onSelect)="onItemSelect($event)" 
    (onDeSelect)="OnItemDeSelect($event)"
    (onSelectAll)="onSelectAll($event)"
    (onDeSelectAll)="onDeSelectAll($event)" name="actors">
</angular2-multiselect>
    <button class="btn btn-primary">Save</button>
    <button *ngIf="movie.id"  class="btn btn-danger" (click)="delete()">Delete</button>
</form> 