<h1>New Actor</h1>


<form #f="ngForm" (ngSubmit)="submit()" validate>
    <div class="form-group">
        <label for="firstName">Firstname</label>
        <input id="firstName" type="text" class="form-control" [(ngModel)]="actor.firstName" name="firstName" required #firstName="ngModel">
        <div class="alert alert-danger" *ngIf="firstName.touched && !firstName.valid">Please specify the firstname for actor.</div>
    </div>
    <div class="form-group">
        <label for="lastName">Lastname</label>
        <input id="lastName" type="text" class="form-control" [(ngModel)]="actor.lastName" name="lastName" required #lastName="ngModel">
        <div class="alert alert-danger" *ngIf="lastName.touched && !lastName.valid">Please specify the lastname for actor.</div>
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea  rows="20" id="description" type="text" class="form-control" [(ngModel)]="actor.description" name="description" required #description="ngModel"></textarea>
      <div class="alert alert-danger" *ngIf="description.touched && !description.valid">Please specify the description for actor.</div>
  </div>

    <button class="btn btn-primary">Save</button>
    <button *ngIf="actor.id"  class="btn btn-danger" (click)="delete()">Delete</button>
</form>