
<h2 style="text-align: center" >Amidus Movies web site, for .NET programmer position</h2>
<h3>This web site is made by using:</h3>
<ul>
    <li>ASP.NET Core 2 framework</li>
    <li>Entity framework Core</li>
    <li>MS Sql</li>
    <li>Angular</li>
</ul>
&copy; Dovydas Petrutis
